<div class="modal-header">
  <h4 class="modal-title pull-left">Edit roles for {{ user.username }}</h4>
  <button
    (click)="bsModalRef.hide()"
    class="close pull-right"
    aria-label="Close"
    type="button"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #rolesForm="ngForm" id="rolesForm">
    <div *ngFor="let role of roles" class="form-check">
      <input
        (change)="role.checked = !role.checked"
        class="form-check-input"
        [checked]="role.checked"
        type="checkbox"
        value="role.name"
        [disabled]="role.name === 'Admin' && user.username === 'admin'"
      />
      <label>{{ role.name }}</label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button (click)="bsModalRef.hide()" class="btn btn-default" type="button">
    Cancel
  </button>
  <button (click)="updateRoles()" class="btn btn-success" type="button">
    Submit
  </button>
</div>
